.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  .places h1 {
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
  }
  
  .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  .places article > h2 {
    font-size: 30px;
  }
  .price_by_night {
    color: #ff5a5f;
    border: #ff5a5f 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .information p {
    padding-bottom: 10px;
    margin: 0px;
  }
  .information {
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    height: 80px;
    display: flex;
    justify-content: center;
  }
  .max_guest,
  .number_rooms,
  .number_bathrooms {
    width: 100px;
    display: flex;
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }
  .max_guest {
    width: 100 px;
    background: url("/images/icon_group.png") white no-repeat;
    background-position: top center;
  }
  
  .number_rooms {
    width: 100px;
    background: url("/images/icon_bed.png") white no-repeat;
    background-position: top center;
  }
  .number_bathrooms {
    width: 100px;
    background: url("/images/icon_bath.png") white no-repeat;
    background-position: top center;
  }
  .user,
  .description {
    text-align: left;
  }
  .user {
    margin-top: 5px;
  }
  
  .user p,
  .description p {
    padding: 2px 0;
    margin: 0;
  }
  
  /* amenities */
  .places .amenities {
    text-align: left;
    width: 100%;
    height: inherit;
    margin-top: 40px;
    border-bottom: 1px solid #dddddd;
  }
  .amenities > h2,
  .reviews > h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
  }
  .amenities ul,
  .reviews ul {
    padding: 0;
  }
  .amenities ul li,
  .reviews ul li {
    list-style: none;
  }
  .amenities ul li {
    padding-left: 35px;
  }
  .amenities ul li.tv,
  .amenities ul li.pet,
  .amenities ul li.wifi {
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 25px;
  }
  .amenities ul li.tv {
    background-image: url(/images/icon_tv.png);
  }
  .amenities ul li.wifi {
    background-image: url(/images/icon_wifi.png);
  }
  .amenities ul li.pet {
    background-image: url(/images/icon_pets.png);
  }
  
  /* reviews */
  .reviews {
    margin-top: 40px;
    text-align: left;
  }
  .reviews p {
    margin: 0px 0px 5px 0px;
  }
  .reviews ul li h3 {
    margin: 20px 0px 5px 0px;
   
  }
  